<IfModule mod_rewrite.c>
DirectoryIndex homepage.php
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^home$ homepage.php [NC]
RewriteRule ^about$ about-us.php [NC]
RewriteRule ^contact$ contact.php [NC]
RewriteRule ^prices$ prices.php [NC]
RewriteRule ^help$ help.php [NC]
RewriteRule ^product$ product-details.php [NC]
RewriteRule ^request$ request-details.php [NC]
RewriteRule ^category$ category.php [NC]
RewriteRule ^farmer(.*)$ Farmer-Portal/$1 [NC]
RewriteRule ^buyer(.*)$ Buyer-Portal/$1 [NC]
RewriteRule ^search$ search.php [NC]
RewriteRule ^transport$ transport.php [NC]

</IfModule>